<!doctype html>
<title>Electricity lookup for - {{ date }}</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/charts.min.css') }}">

<body>

<table id="price-table" class="charts-css column show-labels show-primary-axis show-data-axes"><caption> Prices Table </caption> 
    <thead><tr><th scope="col"> Year </th> <th scope="col"> Progress </th></tr></thead>
    <tbody>
        {% for item in prices_dict %}
            {% if item['hour'] == 0 %}
                {% set coloring = 'orange' %}
            {% elif item['price'] < average_price %}
                {% set coloring = 'green' %}
            {% else %}
                {% set coloring = 'red' %}
            {% endif %}
        <tr><th scope="row">{{ item['hour'] }} h</th> <td style="--size:{{ item['price'] / (2 * average_price) }};--color:{{ coloring }};">{{ '%0.2f' | format(item['price'] / 1000) }} EUR/kWh</td></tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>