body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:lightgrey;
  }
  
  #price-table {
    height: 80%;
    max-width: 80%;
    margin: 0 auto;
    --color: red;
  }
  td {
    text-align: center;
  }