body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:lightgrey;
  }
  
  #column-example-16 {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
    --color: red;
  }
  td {
    text-align: center;
  }